header .image {
    margin-left: auto;
    margin-right: auto;
    background-image: url(grossum.jpg);
    background-repeat: no-repeat;
    height: 200px;
    width: 650px;
}

.login-button {
    margin-top: 10px;
    text-align: center;
}

.login-form {
    text-align: center;
    max-width: 400px;
}

.title-login-page {
    text-align: center;
}

.form-inline {
    margin-left: auto;
    margin-right: auto;
}

#talks {
    margin-bottom: 25px;
}

.talk {
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.user-data{
    margin-top: 50px;
}

.name {
    font-weight: bold;
}

.comment {
    font-style: italic;
}

.company {
    font: 13px helvetica;
    font-weight: bold;
    text-decoration: underline;
}

.talk h2 {
    margin: 0;
    font-size: 130%;
}

div.user-info {
    text-align: center;
}