header .image{
    margin-left: auto;
    margin-right: auto;
    background-image: url(grossum.jpg);
    background-repeat: no-repeat;
    height: 200px;
    width: 650px;
}

.title-login-page {
   text-align: center;
}

#talks {
  margin-bottom: 25px;
}

.talk {
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid silver;
}

.name {
  font-weight: bold;
}

.comment {
  font-style: italic;
}

.company {
    font: 13px helvetica;
    font-weight: bold;
    text-decoration: underline;
}

.talk h2 {
  margin: 0;
  font-size: 130%;
}
